@import "tailwindcss";
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.loading-bar {
  width: 200px;
  height: 8px; 
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* Animated progress  */
.progress {
  width: 0%;
  height: 100%;
  background-color: #3498db;
  animation: load 2s infinite;
}

/* animation */
@keyframes load {
  0% { width: 0%; }
  50% { width: 50%; }
  100% { width: 100%; }
}
